<div>
    <table 
        tuiTable
        class="table"
        [columns]="columns">
        <thead>
            <tr tuiThGroup>
                <th tuiTh
                    [resizable]="true" >Имя</th>
                <th tuiTh
                    [resizable]="true">PID</th>
                <th tuiTh
                    [resizable]="true">Номер сессии</th>
                <th tuiTh
                    [resizable]="true">Память</th>
                <th tuiTh
                    [resizable]="true">Дата проверки</th>
            </tr>
        </thead>
        
        <tbody tuiTbody
                [data]="runningProcesses">
            <tr *ngFor="let runningProcess of runningProcesses"
                tuiTr>
            
            <td *tuiCell="'name'"
                tuiTd>{{runningProcess.name}}</td>
            <td *tuiCell="'pid'"
                tuiTd>{{runningProcess.pid}}</td>
            <td *tuiCell="'sessionNumber'"
                tuiTd>{{runningProcess.sessionNumber}}</td>
            <td *tuiCell="'memory'"
                tuiTd>{{runningProcess.memory}} K</td>
            <td *tuiCell="'dateCheck'"
                tuiTd>{{runningProcess.dateCheck | date: 'MMMM d, y, h:mm:ss a z'}}</td>
        </tr>
        </tbody>
    </table>
</div>