<div class="content">
    <table class="tui-table">
        <tbody>
            <tr class="tui-table__tr tui-table__tr_border_none">
                <th class="tui-table__th">Имя сервера</th>
                <th class="tui-table__th">Ip сервера</th>
            </tr>
            <tr class="tui-table__tr tui-table__tr_border_none">
                <td class="tui-table__td">Сервер селектел</td>
                <td class="tui-table__td">123.32.01</td>
                <th class="tui-table__th tui-table__th_last">
                    <div class="yp">
                        <button>
                            Удалить
                        </button>
                        <button>
                            Редактировать
                        </button>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</div>