@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.table{
    width: 100%;
}
.content{
    padding: 1%;
}
.group{
    display: flex;
    flex-direction: row;
}
.input-wrapper{
    margin: 0.5%;
    width: 13%;
}
.select_server{
    margin: 0.5% 0;
    width: 13%;
}
